<script>

document.getElementById("sorteio").disabled = true;
document.getElementById("apagar").disabled = true;
document.getElementById('pontosfile').addEventListener('change', handleFileSelect, false);

N = {{site.data.pontossorteio.exemplo.size}};
MAX = 20;

function abrir() {
  document.getElementById('pontosfile').click()
}

function handleFileSelect(evt) {
  
  // https://www.html5rocks.com/en/tutorials/file/dndfiles//
  var files = evt.target.files;
  var file = files[0]

  var reader = new FileReader();
  reader.readAsText(file);

  reader.onload = function() {
    var pontos = reader.result.split("\n");
    N = pontos.length - 1;
    
    if(N > MAX) {
      alert(`Muitos pontos no arquivo!\nLendo apenas os ${MAX} primeiros.`);
      N = MAX;
    }
    
    var inps = document.getElementById('inputs');
    inps.innerHTML = "";
    
    for(num=1; num<=N; num++) {
      var input = cria_input(num);
      inps.appendChild(input);
      document.getElementById(num).value = `${num}. ${pontos[num-1]}`;
    }
    
    resetstyle();
    
  };

  reader.onerror = function() {
    alert(reader.error);
  };
  
}

function sorteia(min, max) {
  var num = Math.floor(Math.random() * (max - min + 1) ) + min;
  var ponto = document.getElementById(num).value;
  document.getElementById(num).classList.add("sorteado");
  document.getElementById("sorteio").disabled = true;
  document.getElementById("apagar").disabled = false;
  return ponto;
}

function resetstyle() {
  document.getElementById("pontosfile").value = "";
  for(num=1; num<=N; num++) {
    document.getElementById(num).classList.remove("sorteado");
    document.getElementById('pontosorteado').innerHTML = "";
    document.getElementById("sorteio").disabled = false;
    document.getElementById("apagar").disabled = true;
  }
}

function cria_input(num) {
  var input = document.createElement("input");
  input.type = "text";
  input.id = num;
  input.className = "form__field";
  return input;
}

function carrega_exemplo() {
  var inps = document.getElementById('inputs');
  inps.innerHTML = "";
  {% assign n=0 %}
  {% for ponto in site.data.pontossorteio.exemplo %}
    {% assign n=n | plus: 1 %}
    var input = cria_input({{n}});
    inps.appendChild(input);
    document.getElementById({{n}}).value = "{{n}}. {{ponto}}";
  {% endfor %}
  resetstyle();
}

</script>
